/* Nustiller alle HTML regler for H1, h2 mm.*/
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/*---------------HEADER-------------------*/
.hjem {
  color: red;
}
a {
  text-decoration: none;
}
footer {
  text-align: center;
  margin-bottom: 1rem;
}

/*--------------- Font Størrelse-------------------*/
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
