/* Nustiller alle HTML regler for H1, h2 mm.*/
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/*------------ farve variabler ---------------*/
html {
  --blue: #1119de;
  --beige: #f0eee6;

  /*------------ gap variabler ---------------*/
  --space-xs: 0.7rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 6rem;
}

/*--------------- Fonte, str/gap -------------------*/
h1 {
  font-size: 4rem;
  font-family: "Sarpanch", sans-serif;
}
h2 {
  font-size: 2.3rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}
h3 {
  font-size: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}
h4 {
  font-size: 1.5rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}
p,
li {
  font-family: "Red Hat Mono", monospace;
}
p {
  margin-bottom: var(--space-xs);
}

/*---------------HEADER-------------------*/

.banner {
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
  font-family: "Sarpanch", sans-serif;
  font-size: 1.1rem;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  transition: background-color 0.5s ease;
}
.hjem {
  letter-spacing: 4px;
  font-family: "Sarpanch", sans-serif;
  background-color: var(--blue);
  color: var(--beige);
  padding: 0.5rem;
}
.tilbage_top,
.tilbage_bund,
.videre {
  letter-spacing: 3px;
  padding-left: 0.5rem;
  font-family: "Sarpanch", sans-serif;
}
.videre {
  text-align: end;
  margin-block: 5rem;
  font-size: 1.5rem;
}
.tilbage_bund {
  margin-block: 5rem;
  font-size: 1.5rem;
}
.tilbage_top a:hover,
.tilbage_bund a:hover,
.videre a:hover {
  border-bottom: 1.5px solid;
}
.flex_bund {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
span {
  color: var(--blue);
}
/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}

.toggle-btn {
  display: block; /* Vis knappen, når viewporten maksimalt er 600px */
}

.main-menu {
  display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
}
.main-menu a:hover {
  border-bottom: 2px solid var(--blue);
}

.main-menu ul {
  display: none; /* Fjern menu-listen som standard */
}

.main-menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  border-top: 1px solid #000;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  text-align: end;
}

/*--------------- Footer-------------------*/
footer {
  text-align: center;
  margin-bottom: 1rem;
  position: sticky;
  top: 100vh;
}

/*--------------- Body -------------------*/
body {
  margin-inline: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: var(--beige);
}

/*--------------- Main -------------------*/
main {
  margin-bottom: var(--space-l);
}
.p_max_width p {
  max-width: 60ch;
}
