/* -------------- MOBILE FIRST ------------------- */
.portfolio_grid {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: 1fr 1fr auto 1fr 1fr;
  color: var(--blue);
  /* font-size: 7rem; */
  text-align: center;
  font-weight: bold;
  margin-block: 5rem;
}
.portfolio_grid h1 {
  font-size: clamp(2.5rem, 18vw - 2rem, 7rem);
}

.one {
  grid-row: 1;
  letter-spacing: 1rem;
}
.two {
  grid-row: 2;
  letter-spacing: 1rem;
}
.three {
  grid-row: 4;
  letter-spacing: 1rem;
}
.four {
  grid-row: 5;
  letter-spacing: 1rem;
}
/*------------------ Fonte til forside tekst  */
.one h1 {
  font-family: "Sarpanch", sans-serif;
}
.two h1 {
  font-family: "Red Hat Mono", monospace;
}
.three h1 {
  font-family: "Rajdhani", sans-serif;
}
.four h1 {
  font-family: "PT Mono", monospace;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: 3;
  justify-content: center;
  font-size: 1rem;
  font-weight: 100;
  column-gap: 20px;
  font-size: clamp(0.6rem, 7.2vw - 1.2rem, 1.5rem);
}

.container p {
  border: 2px solid black;
  padding: 0.3rem 1rem;
  color: black;
}

.forside_tekst_grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.forside_tekst {
  grid-column: 2;
  line-height: 25px;
  font-size: clamp(0.1rem, 6vw - 1rem, 1.6rem);
}

.projekter,
.om_mig {
  place-content: center;
  display: grid;
}
.om_mig a {
  margin-inline: 0.6rem;
}

/*------------------- OM MIG ----------------------*/
.navn {
  margin: 4rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
  justify-content: center;
  display: grid;
}
.navn h1 {
  font-size: clamp(4rem, 8vw + 2rem, 6rem);
}
.jasmin {
  color: var(--blue);
  /* letter-spacing: 1rem; */
}

.hvem_tekst {
  margin: var(--space-m);
  grid-column: 1;
  grid-row: 1;
  max-width: 60ch;
}
.hvem_tekst h3 {
  margin-top: 1rem;
  color: var(--blue);
}
.hvem {
  grid-column: 2;
  place-content: center;
  display: grid;
  color: var(--blue);
}
.hvem h2 {
  border-block: solid;
  padding: 1rem;
}

.cv {
  grid-column: 1;
  place-content: center;
  display: grid;
  color: var(--blue);
}
.cv h2 {
  border-block: solid;
  padding: 1rem;
}
.faerdigheder,
.kontakt {
  text-align: center;
  color: var(--blue);
  place-content: center;
  display: grid;
}
.faerdigheder h2,
.kontakt h2 {
  border-block: solid;
  padding: 1rem;
}
.kontakt_grid {
  margin: var(--space-m);
  line-height: 2.5rem;
}

.cv_grid {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
  max-width: 60ch;
  margin: var(--space-m);
}
.uddannelse {
  grid-column: 2;
}

/* ------- over 800px ------- */
@media (min-width: 800px) {
  .om_mig_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kontakt_grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 0.5fr) 1fr;
  }
  .punkter {
    grid-column: 1;
  }
  .kontakt {
    grid-column: 3;
    grid-row: 1;
  }
  .adresse {
    grid-column: 3;
    text-align: end;
  }
}
