/* -------------- MOBILE FIRST ------------------- */
.portfolio_grid {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: 1fr 1fr auto 1fr 1fr;
  color: var(--blue);
  /* font-size: 7rem; */
  text-align: center;
  font-weight: bold;
  margin-block: 1rem 5rem;
}
.portfolio_grid h1 {
  font-size: clamp(2.5rem, 18vw - 2rem, 7rem);
}

.one {
  grid-row: 1;
  letter-spacing: 1rem;
}
.two {
  grid-row: 2;
  letter-spacing: 1rem;
}
.three {
  grid-row: 4;
  letter-spacing: 1rem;
}
.four {
  grid-row: 5;
  letter-spacing: 1rem;
}
/*------------------ Fonte til forside tekst  */
.one h1 {
  font-family: "Sarpanch", sans-serif;
}
.two h1 {
  font-family: "Red Hat Mono", monospace;
}
.three h1 {
  font-family: "Rajdhani", sans-serif;
}
.four h1 {
  font-family: "PT Mono", monospace;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: 3;
  justify-content: center;
  font-size: 1rem;
  font-weight: 100;
  column-gap: 20px;
  font-size: clamp(0.6rem, 7.2vw - 1.2rem, 1.5rem);
}

.container p {
  border: 1px solid black;
  padding: 0.3rem 1rem;
  color: black;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1rem;
}

.forside_tekst {
  line-height: 25px;
  font-size: 0.8rem;
  text-align: center;
}

.projekter,
.om_mig {
  place-content: center;
  display: grid;
}
.projekter p:hover,
.om_mig p:hover {
  color: white;
  background-color: var(--blue);
  border: 3px solid var(--blue);
}

.om_mig a {
  margin-inline: 0.6rem;
}

/*------------------- OM MIG ----------------------*/
.navn {
  letter-spacing: 0.5rem;
  font-weight: bold;
  justify-content: center;
  display: grid;
  line-height: 5rem;
}
.navn h1 {
  font-size: clamp(4rem, 8vw + 2rem, 6rem);
}
.jasmin {
  color: var(--blue);
  /* letter-spacing: 1rem; */
}

.hvem_tekst {
  margin: var(--space-m);
  grid-column: 1;
  grid-row: 1;
  max-width: 60ch;
}
.hvem_tekst h3 {
  margin-top: 1rem;
  color: var(--blue);
}
.hvem {
  grid-column: 2;
  place-content: center;
  display: grid;
  color: var(--blue);
}
.hvem h2 {
  border-block: solid;
  padding: 1rem;
}

.cv {
  grid-column: 1;
  place-content: center;
  display: grid;
  color: var(--blue);
}
.cv h2 {
  border-block: solid;
  padding: 1rem;
}
.faerdigheder {
  text-align: center;
  color: var(--blue);
  place-content: center;
  display: grid;
}
.kontakt {
  text-align: center;
  color: black;
}

/* Sort kontakt tekst, så border kan gå helt ud + størrelse */
/* Under 800 px */
@media (max-width: 800px) {
  .navn {
    margin: 4rem;
  }

  .kontakt h2 {
    border-block: 2px solid;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .om_mig_grid1 h2,
  .cv h2,
  .kontakt_grid h2 {
    margin-block: 4rem 2rem;
  }
  .opgave_navn img,
  .fase1_grid img {
    margin-top: var(--space-s);
  }
}

.faerdigheder h2 {
  border-block: solid;
  padding: 1rem;
}
.kontakt_grid {
  margin: var(--space-m);
  line-height: 2.5rem;
}

.cv_grid {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 30px;
  max-width: 60ch;
  margin: var(--space-m);
}
.uddannelse {
  grid-column: 2;
}

/* ------- OVER 800px ------- */
@media (min-width: 800px) {
  /* Navn og billede i om mig */
  .navn_billede_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 150px);
  }
  .mig_billede {
    grid-column: 1;
    grid-row: 1/5;
    place-self: center end;
  }
  .navn {
    grid-column: 2;
    grid-row: 1/3;
  }
  .om_mig_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: var(--space-xl);
  }

  /* ------------------- FASE GRID --------------------- */
  .tema_tekst {
    margin-inline: 4rem;
  }
  .fase_tekst {
    display: grid;
    place-content: center;
  }
  .opgave_navn {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fase1_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 4rem;
  }
  .fase1_grid img {
    max-width: 80%;
    aspect-ratio: 16/9;
  }
  /* ------------------- TEMA 2 --------------------- */
  .tema_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .overskrift {
    text-align: end;
    place-content: center end;
    display: grid;
  }
  .farvepalette {
    order: -1;
    display: grid;
    place-content: center;
  }

  /* ------------------- TEMA 3 --------------------- */
  .highfedility {
    grid-column: 1/3;
  }
  .billede_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* ------------------- OM MIG --------------------- */
/* Under billede */
.hvem {
  grid-column: 1;
}
.hvem_tekst {
  grid-column: 2;
}
.cv {
  grid-column: 2;
}
.cv_grid {
  grid-row: 2;
  /* text-align: end; */
}

.faerdigheder_grid {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: var(--space-xl);
  column-gap: 40px;
}
.faerdigheder {
  grid-column: 1;
  place-content: center end;
}
.punkter {
  grid-column: 2;
  grid-row: 1;
  margin-left: 2rem;
  font-size: 1rem;
}
.kontakt {
  margin-bottom: var(--space-m);
  color: black;
}
.kontakt h2 {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-block: 2px solid;
}

/* ------------------- TEMA 2 --------------------- */
.tema_grid {
  margin-bottom: var(--space-xl);
}
.tema2_beskrivelse {
  margin-top: 2rem;
}
.opgave_navn {
  margin-bottom: var(--space-xl);
  border-block: solid;
  padding-block: 3rem;
}
.tema_tekst h4 {
  margin-block: var(--space-m) var(--space-s);
}
.tema_tekst h2 {
  margin-bottom: var(--space-s);
}

/* ------------------- PROJEKT --------------------- */
.projekter_grid a:hover {
  border: 10px solid var(--beige);
}

.projekter_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  place-content: center;
  gap: 10px;
}

.projekter_grid a {
  background-color: var(--blue);
  padding-block: 18rem;
  font-size: 4rem;
  text-align: center;
}
.projekter_grid h1,
.projekter_grid h3 {
  color: var(--beige);
}
.projekt_overskrift {
  font-size: clamp(3rem, 16vw - 1rem, 7rem);
  font-weight: bold;
  text-align: center;
  margin-bottom: var(--space-l);
}

/* ------------------- Fælles TEMA regler  --------------------- */
.tema_tal {
  color: var(--blue);
  font-size: 8rem;
}
.se_min_opgave {
  /* color: var(--blue); */
  font-family: "Kdam Thmor Pro", sans-serif;
}
.se_min_opgave:hover {
  border-bottom: 2px solid var(--blue);
}
/* ------------------- TEMA 2 --------------------- */
